<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blog | Posts</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="post-detail.component.css">
	</head>
	<body>
		<nav>
			<div class="title">
				<a href="">Blog</a>
			</div>
            <div class="links">
                <ul>
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Register</a></li>
                </ul>
            </div>
		</nav>
		<div class="bump"></div>
		<div class="body">
			<div class="form-container">
                <h3><a href="/posts/{{ post?.id }}"> {{ post?.title }} </a></h3>
                <p>by {{ post?.firstName }} {{ post?.lastName }}; on {{ post?.dateCreated }}</p>
                <p>{{ post?.body }}</p>
			</div>
		</div>
	</body>
</html>
    