<p>register-page works!</p>
<form
    name="form" 
    (ngSubmit)="onSubmit()" 
    #f="ngForm" novalidate>
    
    <label for="username">Username</label>
    <input
        type="text"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel" />

    <label for="password">Password</label>
    <input 
        type="password"
        name="password"
        [(ngModel)]="form.password"
        required
        #password="ngModel" />

    <label for="firstName">First Neme</label>
    <input 
        type="text"
        name="firstName"
        [(ngModel)]="form.firstName"
        required
        #password="ngModel" />
    
    <label for="LastName">Last Neme</label>
    <input 
        type="lastName"
        name="lastName"
        [(ngModel)]="form.lastName"
        required
        #password="ngModel" />

        <button>Submit</button>

</form>