<form
    name="form" 
    (ngSubmit)="onSubmit()" 
    #f="ngForm" novalidate>
    
    <label for="title">Title</label>
    <input
        type="text"
        name="title"
        [(ngModel)]="form.title"
        required
        #username="ngModel" />

    <label for="body">Body</label>
    <input 
        type="textarea"
        name="body"
        [(ngModel)]="form.body"
        required
        #password="ngModel" />

        <button>Submit</button>

</form>

<h3><a href=""> LOGOUT </a></h3>