<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blog | Posts</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="list-posts.component.css">
	</head>
	<body>
		<nav>
			<div class="title">
				<a href="">Blog</a>
			</div>
            <div class="links">
                <ul>
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Register</a></li>
                </ul>
            </div>
		</nav>
		<div class="bump"></div>
		<div class="body">
			<div class="form-container">
				<h4>Posts</h4>
				<br>
                <div *ngFor="let post of posts">
                    <h2><a href="/posts/{{ post.id }}"> {{ post.title }} </a></h2>
                    <p>by {{ post.firstName }} {{ post.lastName }} ; on {{ post.dateCreated }}</p>
					<br>
                </div>
			</div>
		</div>
	</body>
</html>
    